*
!Dockerfile
!Dockerfile.backup
!package.json
!package-lock.json
!src/
!src/**
!public/
!public/**
!scripts/
!scripts/**
!LICENSE
!THIRD_PARTY_NOTICES.md
**/.env*
**/*.p8
**/*.pem
**/*.key
**/*.token
**/*.sqlite*
**/*service-account*.json
**/*.dump
